body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
header {
    background-color: white;
    margin: 10px;
    padding: 10px;
}
nav {
    background-color: rgb(80, 80, 80);
    box-shadow: 5px 3px 7px 1px rgba(0, 0, 0, 0.247);
    padding: 3px;
}
nav > a {
    color: white;
    font-weight: bold;
    margin-right: 30px;
    text-decoration: none;
}
nav > a:hover {
    text-decoration: underline;
}
main {
    background-color: white;
    border-radius: 10px 0px;
    box-shadow: 5px 3px 7px 1px rgba(0, 0, 0, 0.247);
    margin: 10px;
    padding: 10px;
}
article {
    background-color: lightgray;
    box-shadow: 5px 3px 7px 1px rgba(0, 0, 0, 0.247);
}
article > aside {
    background-color: rgb(104, 104, 104);
}
footer {
    background-color: black;
    color: white;
    margin: 0px;
    padding: 5px;
    text-align: center;
}
footer > p {
    margin: 0px;
}